<div class="dev_main">
  <div class="dev_contact">
    <h2 class="title">ユーザー編集</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.email_field :email, placeholder: "email", autofocus: true, autocomplete: "email", class:"email_form" %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "password (minimum is 6 characters)", class:"password_form" %>
        <% if @minimum_password_length %>
        <% end %>
        <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "password_confirmation", class:"password_form" %>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "current_password", class:"password_form" %>
        <%= f.submit "Update" , class:"send"%>
      <% end %>
        <h4 class="title">ユーザーアカウント削除</h4>
        <%= button_to "Delete", registration_path(resource_name), data: { confirm: "本当に消しますか?" }, method: :delete, class:"send" %></p>
        <%= link_to "トップページに戻る", :back %>
  </div>
</div>
