<div class="dev_main">
  <div class="dev_contact">
    <h2 class="title">新規登録</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      <%= devise_error_messages! %>
        <%= f.text_field :nickname, class:"nickname_form", autofocus: true, placeholder: "nickname (6 characters maximum)" %>
        <%= f.email_field :email, class:"email_form", placeholder: "email" %>
        <%= f.password_field :password, autocomplete: "off", class:"password_form", placeholder: "password (minimum is 6 characters)" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class:"password_form", placeholder: "password_confirmation" %>
        <%= f.submit "Sign up", class:"send" %>
      <% end %>
  </div>
</div>
