<div class="dev_main">
  <div class="dev_contact">
    <h2 class="title">ログイン</h2>
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <%= f.email_field :email, autofocus: true, class:"email_form", placeholder: "email" %>
        <%= f.password_field :password, autocomplete: "off", class:"password_form", placeholder: "password" %>
          <% if devise_mapping.rememberable? %>
            <div class="field">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
            </div>
          <% end -%>
        <%= f.submit "Log in", class:"send" %>
      <% end %>
  </div>
</div>
